@import 'include-media';

.ythi-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ythi-landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    color: white;
    background: royalblue;
}

@include media('<desktop') {
    .ythi-landing-container {
        background:hotpink;
    }
}

@include media('<tablet') {
    .ythi-landing-container {
        background: black;
    }
}